@import url("css2");
@import url("css2-1");

/* header font */
.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.knewave-regular-bold {
  font-family: "Knewave", system-ui;
  font-weight: 800;
  font-style: normal;
}

/* paragraph font */

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: #669100 !important;

}

.socials_banner {
  display: flex; /* Використовуємо флекс-бокс для вирівнювання */
  flex-wrap: wrap; /* Дозволяємо елементам переноситися */
  justify-content: center; /* Вирівнюємо по центру в рядку */
  gap: 1rem; /* Відстань між елементами */
  margin-top: 2%;
  position: relative;
  z-index: 2;
}

.cocial_img {
  width: 100px; /* Фіксована ширина іконки */
  height: 100px; /* Фіксована висота іконки */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc; /* Фон для іконки (замініть своїм) */
  border-radius: 50%; /* Кругла форма */
  text-decoration: none; /* Видаляємо підкреслення */
}

.banner-section {
  background-color: #8ba900;
  background-image: url("images/banner-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  position: relative;
}

@media screen and (min-width: 768px) {
  .banner-section {
    min-height: 100vh;
  }
}

/* @media screen and (min-width: 1024px) {
  .banner-section {
    min-height: 100vh;
  }
} */

.banner-contents {
}

.rwug-title {
  font-size: 9em;
  text-align: center;
  padding-top: 20px;
  color: #f3d948;
  letter-spacing: 8px;
  text-shadow: 10px 15px 20px #c66300;
}

.text-logo {
  /* padding-top: 4%; */
  width: 70%;
}

.banner-logo {
  width: 55%;
  /* margin-top: 7%; */
}

.rocket-left {
  position: absolute;
  width: 250px;
  bottom: 0;
  left: 5%;
}

.rocket-right {
  position: absolute;
  width: 250px;
  bottom: 0;
  right: 5%;
}




.ca-part {
  /* padding-top: 25%; */
  /* padding-bottom: 5%; */
  text-align: center;
}

.ca {
  font-size: 3em;
  text-align: center;
  color: #ffffffff;
  letter-spacing: 3px;
  text-shadow: 2px 2px 1px #915600;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .ca  {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .ca  {
    font-size: 2em;
  }
}
@media screen and (min-width: 1440px) {
  .ca  {
    font-size: 3em;
  }
}

.narrative-section {
  /* padding: 80px 0; */
  background-color: #669100;
}

.narrative-title {
  padding-bottom: 40px;
  font-size: 4em;
  text-align: center;
  color: #f3d948;
  letter-spacing: 4px;
  text-shadow: 7px 10px 15px #c66300;
}

.narra-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #669100; */
  /* background-image: url("images/bg-bottom.png"); */
}

.narrative-box {
  width: 850px;
}

.narrative-para {
  font-size: 1.4rem;
  padding: 60px;
  color: white;
  /* border: 6px dashed white; */
  /* border-radius: 10% 30% 10% 20%; */
  /* margin: 0 10px; */
}

.follow-part {
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
}

.follow {
  font-size: 5em;
  text-align: center;
  color: #f3d948;
  letter-spacing: 3px;
  text-shadow: 10px 15px 20px #c66300;
}

/* .telegram {
  width: 100px;
}

.twitter {
  width: 100px;
  margin-left: 50px;
}

.dexscreener {
  width: 100px;
  margin-left: 50px;
} */

.third-bg {
  width: 100%;
  max-width: 100%;
}

.story-text {
  width: 35%;
}

/* .roadmap-sec {
  margin-top: 8%;
} */

.rwug-show {
  padding: 40px 0;
  font-size: 5em;
  text-align: center;
  padding-top: 60px;
  color: #f3d948;
  letter-spacing: 8px;
  text-shadow: 10px 15px 20px #c66300;
}

/* .footer {
} */

@media screen and (max-width: 768px) {
  body {
    position: relative;
  }

  /* .banner-section {
    height: 60vh;
  } */

  .rwug-title {
    font-size: 7em;
    letter-spacing: 0;
  }

  .text-logo {
    padding-top: 20%;
    max-width: 100%;
  }

  .banner-logo {
    max-width: 90%;
    margin-top: 15%;
  }



  .telegram {
    width: 70px;
  }

  .twitter {
    width: 70px;
    margin-left: 30px;
  }

  .dexscreener {
    width: 70px;
    margin-left: 30px;
  }

  .rocket-left {
    /* display: none; */
    width: 80px;
    bottom: 20%;
    left: 0;
  }

  .rocket-right {
    /* display: none; */
    width: 80px;
    bottom: 25%;
    right: 0;
  }

  /* .follow-part {
    padding-top: 10%;
  } */

  .ca-part {
    position: relative;
    top: -10%;
    left: 2%;
  }

  .ca {
    font-size: 0.8rem;
    letter-spacing: 0;
  }

  .ca-part {
    /* padding-top: 50%; */
  }

  .follow {
    font-size: 3rem;
    letter-spacing: 0;
  }

  .narrative-title {
    padding-bottom: 20px;
    font-size: 2em;
  }

  .narrative-box {
    width: 95%;
  }

  .narrative-para {
    font-size: 1rem;
    padding: 20px;
    color: white;
    border: 6px dashed white;
    border-radius: 10% 20% 10% 20%;
  }

  .roadmap-sec {
    /* margin-top: 120%;  #669100 */
  }

  .story-text {
    width: 50%;
  }

  .rwug-show {
    padding: 10px 0;
    font-size: 3rem;
    letter-spacing: 4px;
  }
}


/* game */

.second-layer {
  display: grid;
  place-content: center;
  height: 50vh;
  font-size: 80px;
  background: #669100;
  overflow-y: hidden;
  min-width: 300px;
  min-height: 400px;
  user-select: none;
  position: relative;
  overflow-x: hidden;
  z-index: 3;
}
.second-layer #player span {
  cursor: pointer;
  transition: all 0.5s;
  opacity: 1;
  display: inline-block;
  position: relative;
  width: 80px;
  bottom: 0;
}

.second-layer #player span.chosen {
  bottom: 25px;
}

.second-layer #player span.hidden {
  opacity: 0;
  width: 0;
}

.second-layer.noclick #player span {
  cursor: default;
}

.second-layer #pc {
  /* position: absolute; */
  top: 0px;
  /* left: calc(50vw - 40px); */
  transform: rotate(180deg);
  transition: top 0.5s;
  position: relative;
  z-index: 2;
}

.second-layer #pc.hidden {
  top: -140px;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.second-layer p {
  position: absolute;
  width: 100vw;
  text-align: center;
  /* bottom: 70px; */
  margin: 0;
  color: #fff;
  transition: bottom 0.5s;
  opacity: 1;
  transition: 800ms;
}

.second-layer p.hidden {
  /* bottom: -200px; */
  opacity: 0;
  transition: 800ms;
}


#scoreboard {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: white;
}

#scoreboard p {
  margin: 5px 0;
}

/* perehod */

.perehod{
    /* display: grid; */
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    /* overflow-x: hidden; */
    /* background: #F5F7FA; */
    /* min-height: 100vh; */
    font-family: 'Open Sans', sans-serif;
}



.footer {
  z-index: 1;
  --footer-background: #669100;
  display: grid;
  position: relative;
  grid-area: footer;
  /* min-height: 12rem; */
}

.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

.footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

.footer .content a,
.footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}

.footer .content b {
  color: white;
}

.footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

.footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .content > div > div {
  margin: 0.25rem 0;
}

.footer .content > div > div > * {
  margin-right: 0.5rem;
}

.footer .content .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
  }
  100% {
      width: 0rem;
      height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
      bottom: -4rem;
  }
  100% {
      bottom: var(--distance, 10rem);
  }
}


/* свайпер */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
/* 
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  min-height: 100vh;
  overflow: hidden;
} */

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: min(900px, 100%);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
  margin: 0 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
  text-align: justify;
}

.info p {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.movie-night {
  background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #784ba0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.btn:hover {
  animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  user-select: none;
}

.swiper-slide img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-position {
  object-position: 50% 0%;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0f2027, transparent, transparent);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(74px);
}

.overlay h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}

/* ANIMATED BACKGROUND */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


@media (max-width: 767px) {
  .content {
     flex-direction: column-reverse;
  }
  
  .btn {
    margin: 10px auto 40px;
  }
}


.title{
  font-size: 3em;
    text-align: center;
    padding-top: 20px;
    color: #fde249;
    letter-spacing: 8px;
    text-shadow: 4px 7px 0px #915600;
    font-weight: bolder;
}

.sub_title{
  font-size: 3em;
    text-align: center;
    padding: 20px 0;
    color: #fde249;
    /* letter-spacing: 8px; */
    text-shadow: 4px 7px 0px #915600;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .title {
      font-size: 7em;
      letter-spacing: 0;
  }
}